.error{
    color: red;
}

.suggestions-list {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    width: calc(100% - 1rem);
    max-height: 200px;
    overflow-y: auto;
    top: 80%;
    left: 0;
}
.suggestions-list div {
    padding: 7px;
    cursor: pointer;
}
.suggestions-list div:hover {
    background-color: #f0f0f0;
}

.highlight {
    background-color: rgb(210, 224, 231); /* or any color you prefer */
}
